html, body {
    background-image: linear-gradient(rgb(255, 255, 255), #0c4d19);
    font-family: 'Work Sans', sans-serif;
}

.gold-text{
    color: #9a731b;
}

#jesus-img{
    width: 100%;
    max-height: 80vh;
    padding-bottom: 1rem;
    margin-left: 0;
}
.contishere{
    margin-left: 0 !important;
    padding: 0 !important;
}
.green{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: #0c4d19;
    height: fit-content;
}
.white{ 
    background-color: white;
    height: fit-content;
    margin-top: 15vh;
    max-width: 436px !important;
    width: 35vw;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.plan-visit-title{
    width: 33vw;
    margin: 2vw 25vw 0;
    text-align: center;
}
.Column{
    margin-bottom: 2rem;
}
.our-times{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    box-shadow: 0px 0px 5px black;
 
    background-color: #eeeeee; 
    height: fit-content;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.row-bigol{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    background-color: #0c4d19;
    color:  #d69c1a;
    font-style: italic;
    
    
}
blockquote{
    margin: 0 !important;
    padding: 1rem;
    max-width: 500px;
}
.taggbox{
    padding: 2rem 0;
    margin-left: 10%;
}
h4{
    text-align: center;
}
.row-content{
    margin: 5vh 5vh 0 ;
    font-size: large;
}
iframe{
    margin-right: auto ;
    margin: 5vh 20vw;
}
.wide-space{
    display: flex;

}

.icon{
    height: 5vh;
}
footer{
    width: 80vw;
    text-align: center;
    display: flex !important;
    padding: 5vh 10% ;
   background-color: #8d8d8d;
   width: 100%;

}
.copyright{
    background-color: #8d8d8d;
    height: 5vh;
   
    text-align: center;
    margin-left: 0 !important; 
    margin-right: 0 !important;
  
}
.contact h5, .contact p{
    margin: 10px;
    width: 20vw;
}
.contact a {
    color:black ;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}

.give-header{

    text-align: center;
    font-style: italic;
    padding: 10vh;
    background: white;
    margin: 4rem;
    width: 60vw;
    background-image: url("//img/giving-img.jpg") ;
} 
.give-header h1{
    font-weight: 900;
    font-size: xx-large;
    font-size: 60px;
} 
.give-header a{
    border-radius: 0%;
}
.thanks-support{
    height: 15vh;
    padding-top: 2rem;
    padding-bottom: 2vh;
    width: 100%;
    text-align: center;
    background-color: #c6c6c6;
    margin-top: 5rem;
}
.clear{
    background: none;
}
.giving-info{
    padding-bottom: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}
 .small-dash {
    background-color: #002d42;
    content: " ";
    width: 20%;
    height: 2px;
    bottom: -1em;
    margin:1vh 40%;
}

#accordion .card{
    border-radius: 0%;
   
}
.btn-link{
    
    --bs-btn-color:black !important;
    text-decoration: none !important;
}
.card-header, .card{
    border: none !important;
    margin-bottom: 1.25rem;
    font:bold;
}
.map{
    width: 30vw;
    margin-left: 10vw;
    height: 40vh;
    box-shadow: 0px 0px 10px black;
}
#map{
    width: 40%;
    flex-grow: 1;
    margin-left: -4rem;
}
#contact-info{
    background-color: white;
    width: 80vw;
    margin: 5vh 10vw;
    box-shadow: 0px 0px 10px 2px black;
    
    
}
#info-div p{
    margin: 1rem 3rem !important;
    font-size: larger;
}

.green-text{
    color: #0c4d19;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}

#info-div{
   padding-bottom: 2rem; 
   flex-grow: 1;
   margin-top: 13vh;
   
    
}

.intro{
    background-color: white;
    width: 30vw;
    border-radius: 2px;
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
    margin: 2rem;
    height: fit-content;
} 
.into, h2{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
    font-weight: lighter;
}
.little-text{
    font-size: small;
    margin: 1rem 1rem;
    color: rgb(73, 73, 73);
    text-shadow: 0px 0px 1px rgb(190, 190, 190);
}
.main-flex{
     display: flex; 
     flex-direction: row;
}
.quien-somos{
    width: 80vw;
    max-width: 700px !important;

}

.ministeries-welcome{
    width: 80vw;
    height: fit-content !important;
    margin-left:10vw;
    margin-right: 10vw;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}
.contact-hello{
    margin-top: 5rem;
    height: fit-content!important;
    padding: 1rems;
}

.images{
    text-align: center;
    width: 80vw;
    margin: 2rem 10vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    flex-wrap: wrap;
}
.carousel {
   
    margin : 2rem;
    padding-bottom: 2rem;
    border-bottom: 3px double   #8d8d8d ;
} .carousel h3{
    padding: 1rem 0;
    font-style: oblique;
}
.carousel-inner, .carousel-item{
    transition: transform .4s ease-out !important;
    max-height: 390px;
}

.navbar{
    background-color: white;
    position: fixed!important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-spacer2{
    margin-top: 3rem;
}
.leaders-header{
    text-align: center;
    background-color: white;
    margin: 6rem 8vw 0;
    padding-top: 1rem;
    width: 82vw;
    height: 5rem;
    box-shadow: 0px 0px 5px black;
}
.leaders-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    background-color: white;
    margin: 2rem 0;
    box-shadow: 0px 0px 5px black;
}
.lideres img{
    width: 100%;
}
.lideres h4{
    margin-top: 1rem;
    font-style: bold;
}
.lideres {
    margin: 2rem 5%;
   flex-basis: 40%;
   text-align: center;
}

@media screen and (min-width: 969px) {
    .jesus-img {
      padding-right: 9vw;
    }
    #contact-info{
        
     display: flex; 
    }
    #info-div{
        width: auto;
        
    }
   
  }

  @media screen and (min-width: 1143px) {
    .images{
        display: flex;
    }
    .carousel {
        width:43%;
    }
  }
  
@media screen and (max-width: 969px) {
    .navbar-brand{
        margin-right: 0!important;
        font-size: large !important;
    }
    .wide-space{
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
    .white{
        margin-top: 3vh;
    }
    .row-bigol{
        flex-direction: column;
       
    }
    .hide{
        display: none;
    }
    footer{
        padding: 5vh 0 ;
    }
    .plan-visit-title{
        margin: 10% 30% 0;
    }
    .Column{
        text-align: center;
    }
    .give-header{
        
        padding-top: 10vh;
    }
    .thanks-support{
        height: 24vh;
    }

    .small-dash {
    width: 40%;
    height: 2px;
  
    bottom: -1em;
    margin:2vh 30%;
    }
    iframe{
        width: 40px ;
    }
    .map{
        width: 60vw;
    }
    #map{
        margin-left: -5px;
    }
    #info-div{
        margin-top: 0;
    }
    .main-flex{
        flex-direction: column;
  
    }
    .intro{
        width: 80vw;
    }
    .carousel{
        width: 80%;
        margin: 2rem 10%;
       }
       
       .lideres img{
        width: 50vw;

    }
    .lideres {
        margin: 1rem 15%;
    }
    .leaders-container{
        width: 80vw!important;
    }
   
  }

  