html, body {
    background-color: #0c4d19;
    font-family: 'Work Sans', sans-serif;
}

.gold-text{
    color: #9a731b;
}

#jesus-img{
    width: 90vw;
    max-width: 1526px;
    background-image: url("//img/tampa-pic.jpg") ;
}
.green{
    background-color: #0c4d19;
    height: fit-content;
}
.white{ 
    background-color: white;
    height: fit-content;
    margin-top: 10vh;
    max-width: 412px;
    width: 35vw;
    
}
.plan-visit-title{
    width: 33vw;
    margin: 10vw 25vw 0;
    text-align: center;
}
.our-times{
    display: flex;
    flex-direction: column;
    background: none;
    background-image: url("//img/tampa-pic.jpg") ;
 
    background-color: #cccccc; 
    height: fit-content;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.row-bigol{
    display: flex;
    flex-direction: row;
}
h4{
    text-align: center;
}
.row-content{
    margin: 5vh 5vh 0 ;
    font-size: large;
}

.wide-space{
    display: flex;

}

.icon{
    height: 5vh;
}
footer{
    width: 80vw;
    text-align: center;
    display: flex;
    margin: 5vh 20vw ;
    
}
.contact{
    margin: 10px;
}
a{
    text-decoration: none;
}
button{
    
}
.give-header{
    text-align: center;
    font-style: italic;
    height: 90vh;
    padding-top: 33vh;
    background: none;
    background-image: url("//img/giving-img.jpg") ;
} 
.give-header h1{
    font-weight: 900;
    font-size: xx-large;
    font-size: 60px;
} 
.give-header a{
    border-radius: 0%;
}

@media screen and (min-width: 969px) {
    .jesus-img {
      padding-right: 9vw;
    }
   
  }
  
@media screen and (max-width: 969px) {

    .wide-space{
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
    .row-bigol{
        flex-direction: column;
       
    }
    .plan-visit-title{
        margin: 10vw 20vw 0;
    }
    .give-header{
        height: 33vh;
        padding-top: 10vh;
    }
  }